services/wsdl/wscalc1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8000/api/soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wscalc1" targetNamespace="http://localhost:8000/api/soap">

<wsdl:message name="divRequest">
    <wsdl:part name="num1" type="xsd:string"></wsdl:part>
    <wsdl:part name="num2" type="xsd:string"></wsdl:part>
</wsdl:message>
<wsdl:message name="divResponse">
  <wsdl:part name="divres" type="xsd:string"/>
</wsdl:message>

<wsdl:message name="sumarRequest">
    <wsdl:part name="a" type="xsd:string"></wsdl:part>
    <wsdl:part name="b" type="xsd:string"></wsdl:part>
</wsdl:message>

<wsdl:message name="sumarResponse">
  <wsdl:part name="sumres" type="xsd:string"/>
</wsdl:message>

<wsdl:message name="multiplicarRequest">
  <wsdl:part name="a" type="xsd:string"></wsdl:part>
  <wsdl:part name="b" type="xsd:string"></wsdl:part>
</wsdl:message>

<wsdl:message name="multiplicarResponse">
  <wsdl:part name="mulres" type="xsd:string"></wsdl:part>
</wsdl:message>

<wsdl:portType name="calcP">
  <wsdl:operation name="sumar">
        <wsdl:input message="tns:sumarRequest"></wsdl:input>
        <wsdl:output message="tns:sumarResponse"/>
  </wsdl:operation>
  <wsdl:operation name="multiplicar">
    <wsdl:input message="tns:multiplicarRequest"></wsdl:input>
    <wsdl:output message="tns:multiplicarResponse"></wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="divRes">
    <wsdl:input message="tns:divRequest"></wsdl:input>
    <wsdl:output message="tns:divResponse"></wsdl:output>
  </wsdl:operation>
</wsdl:portType>

<wsdl:binding name="calcB" type="tns:calcP">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

  <wsdl:operation name="divRes">
    <soap:operation soapAction="divRes" style="rpc"/>
    <wsdl:input>
      <soap:body namespace="http://localhost:8000/api/soap/divRes" use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap:body namespace="http://localhost:8000/api/soap/divRes" use="literal"/>
    </wsdl:output>
  </wsdl:operation>

  <wsdl:operation name="sumar">
    <soap:operation soapAction="sumar" style="rpc"/>
    <wsdl:input>
      <soap:body namespace="http://localhost:8000/api/soap" use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap:body namespace="http://localhost:8000/api/soap" use="literal"/>
    </wsdl:output>
  </wsdl:operation>

  <wsdl:operation name="multiplicar">
    <soap:operation soapAction="multiplicar" style="rpc"/>
    <wsdl:input>
      <soap:body namespace="http://localhost:8000/api/soap" use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap:body namespace="http://localhost:8000/api/soap" use="literal"/>
    </wsdl:output>
  </wsdl:operation>
</wsdl:binding>
<wsdl:service name="ws">
<wsdl:port binding="tns:calcB" name="calc">
  <soap:address location="http://localhost:8001/wscalc1"/>
</wsdl:port>
  </wsdl:service>
</wsdl:definitions>